body{
    width: 300px;
    margin: 0 auto;

}

.entire_box{
    width:300px;
    height:300px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-150px;
    margin-top:-150px;
    /* background-color: brown; */
}
.head_box{

    display: block;
    text-align: center;
    font-style: italic;
    /* color: yellow; */
    /* background-color: black; */
    margin: 30px;
}
.id_box{
    /* color: blue;
    background-color: purple; */
}
.pw_box{
    /* color:pink;
    background-color: aqua; */
}

.imgParent{
    text-align: center;
}
.inputS{
    text-align: center;
}
.inputS input{
margin-bottom:30px;
margin-left: 10px;

width: 150px;
height:25px;
border:0;
border-color: whitesmoke;
border-radius: 20%;
background-color:whitesmoke;
outline-color: whitesmoke;
}

.inputS button{
    margin-left:10px;
    margin-top:10px;
}
.inputs{
    /* text-align: center; */
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;

}

/* html,body{
    height:100%;
  }
  body{
    text-align:center;
  }
  body:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
  } */
  button{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    font-size:10px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:#1AAB8A;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }